/* Heart Animation */
.heart {
  font-size: 6vw;
  color: red;
  animation: heartBeat 1s infinite alternate;
}

@keyframes heartBeat {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}

/* Background */
#bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("https://i.postimg.cc/NftwM23q/D.jpg") no-repeat center center;
  background-size: contain;
  opacity: 0;
  transition: opacity 0.5s ease-in-out;
  z-index: -1;
  background-attachment: fixed;
  -webkit-background-attachment: fixed;
  -moz-background-attachment: fixed; /* Firefox */
}

/* Fade Out Animation */
.fade-out {
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

/* Falling Item Animation */
.falling-item {
  position: absolute;
  top: -50px;
  opacity: 0.9;
  animation: fall linear infinite;
}

@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(100vh) rotate(360deg);
  }
}

/* Slideshow Container */
.slideshow-container {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
}

/* Ensure image stays contained but never exceeds viewport size */
.slideshow-image {
  width: 100%;
  height: auto;
  max-width: 100%; /* You can adjust this value */
  border-radius: 10px;
  border: 10px double red;
  box-shadow: 0 4px 10px rgba(255, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 2s ease-in-out;
}

/* For smaller devices, adjust the max-width to ensure visibility */
@media screen and (max-width: 800px) {
  .slideshow-image {
    max-width: 100%;
  }
}

@media screen and (max-width: 500px) {
  .slideshow-image {
    max-width: 100%;
  }
}

/* Video Container */
.video-container {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  z-index: 10;
}

.video-container video {
  width: 100%;
  max-width: 800px;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

/* Thank You Button */
#thank-you-btn {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  z-index: 15;
}
